<div class="col-md-12 animate-box">
  <a href="gite.php" class="portfolio-grid">
    <img src="{{url_image}}" class="img-responsive" alt="{{alt}}">
    <div class="desc">
      <h3>{{nom}}</h3>
      <span>{{ville}} - {{departement}}</span>
    </div>
  </a>
</div>
